.button {
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-prev::before,
.slick-next::before {
  background-color: black;
  border-radius: 50%; /* Optional: make the background circular */
  width: 28px;
  height: 28px;
}
